profesor{
    margin-left : auto ;
    margin-right : auto ;
    width : 20% ;
    border : sólido ;
    border-width : 3px ;
    margin-top : 10px ;
    padding-bottom : 20px ;
    padding-left : 20px ;
    padding-top : 20px ;
}

nombre , apellido {
    font-size : 30px ;
}
     
departamento {
    display : block ;
    font-weight : bold ;
    background-color : black ;
    text-align : right ;
    color : white ;
    padding-right : 5px ;
}
     
cargo {
    font-style : italic ;
    padding-left : 40px ;
    display : block ;
}