empresa{
    background: rgb(11, 165, 216);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

id {
    font-size: 45px;
    margin: 0px;
    width: 100%;
    height: 100px;
    padding: 15px;
    display: block;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
}

departament {
    display: block;
    background: lightgrey;
    border: 1px solid black;
    margin: 30px;
}

nom-departament {
    display: block;
    font-size: 35px;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}

nom {
    display: block;
    padding: 5px;
}

cap nom {
    font-weight: bold;
}