ies {
    font-family: Arial, Helvetica, sans-serif;
}

nombreCentro {
    display: block;
    font-size: 25px;
    margin: 10px;
  }
  
  web {
    display: block;
    margin: 10px;
  }
  
  ciclo {
    display: block;
    margin: 10px;
  }

  nombre {
      display: block;
  }

  nombre {
      display: list-item;
      list-style: decimal inside;
  }
  
  grado, decretoTitulo {
    display: list-item;
    list-style: disc inside;
    margin-left: 20px;
  }