biblioteca {
    background: #d4d4d4;
}

libro{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    background: #90ee90;
}

titulo, autor, fechaPublicacion {
    padding-left: 10px;
}

titulo {
    background: white;
    border-bottom: 2px solid black;
    font-weight: bold;
}