ies {
    display: table;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

nombreCentro {
    display: table-caption;
    background: #d4d4d4;
    font-size: 25px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
  }
  
  web {
    display: none;
  }
  
  ciclos {
    display: table;
    border-spacing: 10px;
    border: 1px solid black;
  }

  ciclo {
      display: table-row;
  }
  
  nombre, grado, decretoTitulo {
    display: table-cell;
    border: 1px solid black;
    padding: 10px;
  }