libro{
    display: block;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    background: #90ee90;
}

titulo, autor, fechaPublicacion {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}

titulo {
    font-weight: bold;
}