alumnes {
    margin: auto;
    width: 96%;
}

centre {
    display: block;
    font-size: 12px;
    padding-top: 10px;
}

modul {
    display: block;
    background: black;
    color: white;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

professor {
    display: block;
    font-weight: bold;
    font-size: 25px;
    padding-left: 10%;
    padding-top: 30px;
    padding-bottom: 30px;
}

professor nom:before {
    content: "Professor: ";
}

alumne {
    display: block;
    border: 1px solid black;
}

nom, cognom {
    font-weight: bold;
}

unitats {
    display: block;
    padding-left: 16%;
}

uf {
    display: table-cell;
    padding: 10px;
    text-align: right;
    padding-right: 90px;
}

uf:before {
    content: "UF" attr(num) ": ";
}