*{
    margin: 0px;
    padding: 0px;
}

body{
    background: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    width: 70%;
    margin: 0px auto;
    border: 1px solid black;
}

.article{
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.article:first-child{
    border-top: 1px solid #eee;
    padding-top: 10px;
}

.article h2{
    font-size: 25px;
}

header{
    background: red;
    height: 100px;
    width: 100%;
    margin: 0px;
    text-align: center;
    line-height: 100px;
    color: white;
    border-bottom: 3px dashed black;
}

nav {
    background: lightblue;
    height: 50px;
    border-bottom: 1px solid black;
}

nav ul li {
    float: left;
    list-style: none;
    margin: 10px;
}

.clearfix {
    clear: both;
}

#content{
    background: green;
    float: left;
    width: calc(80% - 80px);
    min-height: 500px;
    padding: 40px;
    padding-bottom: 0px;
    padding-top: 0px;
}

aside{
    background: orange;
    float: left;
    width: calc(20% - 20px);
    min-height: 500px;
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

footer{
    background: black;
    color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;
}