temps {
    border: 1px solid black;
    border-width: 2px;
    width: 90%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

poblacio {
    float:left;
    height:150px;
}
     
nom {
    width:200px;
    background-color: black;
    color:white;
    display:block;
    font-size: 40px;
    text-align:center;
}
     
data {
    text-align:center;
    display:block;
    font-size: 30px;
    height: 400px;
    color: red;
}
     
comarca, maxima, minima, vent {
    display: none;
}
     
previsions {
    float:left;
    width: 600px;
    text-align: center;
}
     
previsio {
    float:left;
    width: 200px;
    height:150px;
}
     
previsio[estat="ennuvolat"] {
    background-image:url(../imagenes/ennuvolat.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: lightgray;
}
     
previsio[estat="pluja"] {
    background-image:url(../imagenes/pluja.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: grey;
}
     
previsio[estat="sol"] {
    background-image:url(../imagenes/sol.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-color:lightblue;
}
     
previsio[estat="neu"] {
    background-image:url(../imagenes/neu.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-color:white;
}