ies {
    font-family: Arial, Helvetica, sans-serif;
}

nombreCentro{
    display: block;
    font-size: 20px;
    float: left;
}

web {
    display: block;
    font-size: 20px;
    float: right;
    margin-bottom: 10px;
}
  
ciclos {
    display: block;
    clear: both;
    font-size: 20px;
}

ciclo {
      display: table;
      border-spacing: 10px;
      border: 1px solid black;
      margin: auto;
      width: 50%;
}

nombre {
    display: table-caption;
    background: #d4d4d4;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
}
  
grado, decretoTitulo {
    display: table-cell;
    border: 1px solid black;
    padding: 10px;
}