ies {
    font-family: Arial, Helvetica, sans-serif;
}

nombreCentro{
    display: block;
    font-size: 20px;
    float: right;
}

web {
    display: block;
    font-size: 20px;
    float: left;
    margin-bottom: 10px;
}
  
ciclos {
    display: block;
    clear: both;
}

ciclo {
      display: table;
      border-spacing: 10px;
      border: 1px solid black;
      float: left;
      margin: 10px;
}


  
nombre, grado, decretoTitulo {
    display: table-row;
    padding: 10px;
    background: #94ec94;
}