ies {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

nombreCentro {
    background: #d4d4d4;
    font-size: 25px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
  }
  
  web {
    display: none;
  }
  
  ciclos {
    border-spacing: 10px;
    border: 1px solid black;
  }

  ciclo {
      display: flex;
      flex-direction: row;
      padding: 10px;
  }
  
  nombre, grado, decretoTitulo {
    display: table-cell;
    border: 1px solid black;
    padding: 10px;
  }